<!--
*
*
* Author : Mary Hurley
* Assignment : WE4.1 Mobile Web Application, Digital Skills Academy
* Tite : Angular ToDo App
* Student ID: D15128601
* Date: 2016/09/01
*
* This partial displays 2 buttons which allows the user to sort the Todo list by name or by job,
* that is read from a json file, 
*
* Code Reuse
* Ref: website link to code referenced or the book, authors name and page number
* Mobile Web Applications Unit 9 ClientSideMVCIII  Workshop 9
*-->

<div class="container" ng-controller="sortController">
    
    <h1> <img src="images/BlackPages.png"> {{title}}</h1>
    <button class="btn-sm btn-info" ng-click="setSort('name')" > Sort by Name</button>
    <button class="btn-sm btn-info" ng-click="setSort('job')"> Sort by Todo </button> 
    <br>
    <br>
    <ul class="Todos">
        <li ng-repeat="todo in Todos | orderBy:sort">
            <span>{{todo.name}} : {{todo.job}}</span>                  
        </li>
    </ul>
    <a href="#Todo"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> What's To Do... </a></li>

</div>  
